/*----------------------------------------------Générale---------------------*/
body{
    padding: 3px;
    font-family: arial, sans-serif;
    background-color: #f2f2f2;
}

/*----------------------------------------------Header---------------------*/
header{
    border: 2px solid black;
    width: 100%;
    margin-bottom: 10px;
}
header .menu_deroulant{
    display: none;
}
header input[type=checkbox]{
    display: none;
}
header nav input[type=checkbox]:checked ~ ul{
    display: block;
}
header #titre{
    text-align: center;
    padding: 20px 0 40px 0;
}
header #titre img{
    float: left;
    margin-left: 20px;
}
header #titre h1{
    color: #545454;
}
header nav ul{
    padding: 15px;
    margin: 0;
    text-align: center;
    background-color: #444444;
}
header nav li{
    display: inline;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
header nav ul li a:hover{
    color: rgba(153,153,153,0.7);
}
header input[type=checkbox]{
    display: none;
}
header label{
    display: none;
}
header input[type=checkbox]:checked ~ ul{
    display: block;
}
/*----------------------------------------------Section---------------------*/
section{
    width: 95%;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
 
}
section h2 , h3{
    margin: 10px;
    color: #666666;
}
.article{
   width: 100%;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
}
.article3{
   
    text-align: center;
    float: left;
    margin-left: 20px;
}
.article4{
    text-align: center;
    margin-left: 600px;
    margin-right: 20px;
    margin-top: 20px;
    
}
.ph{
    text-align: center;
}
.article_zot_cod{
    text-align: center;
}
p{
    color: #444444;
}
.perso{
    width: 50%;
    float: left;
}
.box{
    text-align:-webkit-center;
    width: 50%;
}
/*----------------------------------------------Footer---------------------*/
footer{
    border: 2px solid black;
    width: 100%;
    text-align: center;
    background-color: #444444; 
}
footer img{
    text-align: center;
}
footer p{
    color: #fff;
}
/*----------------------------------------MediaQuery---------------------*/

@media screen and (max-width:1000px){
    header #titre{
        padding: 10px 0 20px 0;
    }
    header #titre h1{
        display: none;
    }
    header #titre img{
        text-align: center;
        float: none;
    }
    header nav{
        border: hidden;
    }
    header nav ul{
        display: none;
    }
    header nav ul li{
        background-color: rgba(68,68,68,1);
    }
    header nav ul li, header nav ul li a{
        width: 100%;
        text-align: center;
        float: left;
    }
    header .menu_deroulant{
        display: block;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 15px;
        background-color: rgba(68,68,68,1);
    }
    header .menu_deroulant:hover{
        background-color: rgba(68,68,68,0.7);
    }
    .article3{
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
    }
    .article4{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        margin-top: 5px;
    }
}
@media screen and (max-width:400px){
    
}